.git
.github
.gradle
build
.idea
.vscode
*.iml

.env
*.env
src/main/resources/application-local-private.yml
src/main/resources/application-*-private.yml

.docker
src/main/resources/sql
*.sql

README.md
